body {
    background: url(images/ws_Old_Map_1920x1200.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header{
    border-bottom: 1px solid black;
}

footer {
    border-top: 1px solid black;
    width: 100%;
    padding: 5px;
}
a {
    color: black !important;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Trocchi', serif !important;
}

nav {
    background-color: #d4c8a2;
}

.homepage {
    height: 100vh;
}

.flex {
    display:flex;
}
.icons {
    margin-right: auto;
    margin-left: auto;
    height: 15%;
    width:30%;

}
.contactIcons{
    display: block;
    margin-right:auto;
    margin-left: auto;
    width: 25%;
    border-radius: 15px;
    border: 1px solid black;
}

.homeName {
    color: #DAA520;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 4em;
}

.pagebar {
    background-color: #d4c8a2;
    padding: 5px;
}

.contentbordertop {
    border-top: 2px solid #DAA520;
    border-right: 2px solid #DAA520;
    border-left: 2px solid #DAA520;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.contentborderBottom {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom: 2px solid #DAA520;
    border-right: 2px solid #DAA520;
    border-left: 2px solid #DAA520;
    border-top: 1px solid black;
}

.contentborderCenter {
    border-right: 2px solid #DAA520;
    border-left: 2px solid #DAA520;
}

.cardmargins{
    margin:auto;
}

.tags{
    text-align: center;
    margin-top: 5px;
}

.tagTitle{
    margin-top: auto;
    margin-bottom: auto;
}

.projectImage {
    width: 350px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

